:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text color */
  --main-txt-cl: #212121;  
  --secondary-txt-cl: #2196f3;
  --third-txt-cl: #757575;
  

  --title-txt-cl: #303030;
  --btn-txt-cl: #303030;
  --btn-bg-secondary-cl: #188CE8;

  /* colors */
  --accent-cl: #ff6c00;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #F5F4FA;
  --third-bg-cl:#2f303a;


  --black-cl: #000000;
  --grey-cl: #9da4bd;
  --grey-cl-alpha: rgba(157, 164, 189, 0.6);

  --linear-gradient: linear-gradient(
    180deg,
    rgba(47, 48, 58, 0.2) 0%,     
     rgba(47, 48, 58, 0.4) 100%
  );

  /* others */
  --border-radius: 4px;
  --gap: 30px;
  --item:3;
  --margin-element: 30px;
  --main-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

body {  
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  color: var(--main-txt-cl);
  
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Fonts block - start */
.font-1{
font-family: var(--main-font);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
letter-spacing: 0.06em;
}

.font-2 {
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}


.font-3 {
  font-family: var(--secondary-font);
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.font-4 {
  font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
}

.font-5 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;  
  text-align: center;
  letter-spacing: 0.03em;
}

.font-6 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.font-7 {  
font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.font-8 {
  font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.font-9 {
  font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.font-10 {
  font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1.2;
letter-spacing: 0.01em;
color: var(--third-txt-cl);
}

.font-11 {
  font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.03em;
}

.font-12 {
  font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
text-align: center;
letter-spacing: 0.06em;
}

/* Fonts block - finish */

/* universal class - start */

.list,
 .list-marcked{  
  list-style: none;  
  padding-inline-start: 0;
}

.container {   
  width: 1200px;
  margin-left: auto;
  margin-right: auto;  
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.link {  
  text-decoration: none;
  color: var(--main-txt-cl);
  --animation-property: color;
}

.link:hover,
.link:focus {  
  color: var(--secondary-txt-cl);
}

.box-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {     
  text-align: center;    
  border-width: 0px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btn-action:hover,
.btn-action:focus {      
  background-color: var(--btn-bg-secondary-cl);  
}

.animation-1 {
  transition-property: var(--animation-property);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-action {
  color: var(--main-bg-cl);
  background-color: var(--secondary-txt-cl);
  box-shadow: var(--main-box-shadow);  
  --animation-property: background-color;
}

.image {
  display: block; 
  object-fit: cover;
}

.svg { 
  display: inline-block;  
   background-color: transparent;  
   justify-content: center;
   align-items: center;  
}
 
.grid {
  display: grid;
  grid-template-columns: repeat(var(--item), 1fr);
  gap: var(--gap);
}

.position-items{
  margin-right: var(--margin-element);
}

.position-items:last-child {
  margin-right:0;
}

/* universal class - finish */

/* Header block start */
.header {  
background-color: var(--main-bg-cl);
  border-bottom: 1px solid #ececec;
}

.header .font-3 {
  color: var(--secondary-txt-cl);
}

.header__logo {    
  color: var(--main-txt-cl);
}

.header__navigation {     
  margin-left: 93px;  
  text-align: left;
  vertical-align: top;  
  --margin-element:50px;
}

.current-page{
  position: relative;
}

.current-page::after {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--secondary-txt-cl);
}

.header__navigation__list__item .link{
  display: inline-block;  
  padding-top: 32px;
  padding-bottom: 32px;  
  --animation-property: color 
}

.current-page{
  color: var(--secondary-txt-cl);
}

.header__contact {
  margin-left: auto;
  --margin-element:50px;
}

.header__contact__item .link{   
  color: var(--third-txt-cl);  
  --animation-property: color, fill  
  }

.header__contact__item:hover .link,
.header__contact__item:focus .link {  
  color: var(--secondary-txt-cl);
}

.header__contact__item .svg{   
  fill: var(--third-txt-cl);   
  margin-right: 10px; 
}

.header__contact__item:hover .svg,
.header__contact__item:focus .svg {  
  fill: var(--secondary-txt-cl);
}
/* Header block finish */

/* Main block */

.main {  
  background: var(--main-bg-cl); 
}

/* block shapka start*/

.shapka {      
  background-image: var(--linear-gradient),url(../images/activity/img.jpg);   
  background-size: contain; 
  background-color: var(--third-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
}

.shapka__container { 
  text-align: center;

}

.shapka .font-1 { 
  display: inline-block;  
  max-width: 696px;   
  text-transform: uppercase;  
  color: var(--main-bg-cl);
}

.shapka__container .btn-action { 
  display: block;   
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;    
 }



/* block shapka finish*/




/* block peculiarities start*/

.peculiarities__container__item {
  width: 270px;
  --margin-element:30px;
}

.peculiarities__container__item .svg{  
  display: inline-block;
  width: 70px;
  height: 70px;    
   background-color: transparent;  
    
}

.peculiarities__container__item__box {  
  width: 270px;
  height: 120px;   
  background-color: var(--secondary-bg-cl);     
}

.peculiarities__container__item__title {
  margin-top: 30px;
  margin-bottom: 10px;  
  text-transform: uppercase;
}

.peculiarities__container__item .font-8 {    
  color: var(--third-txt-cl);
}

/* block peculiarities finish*/

/* block activity start*/


.activity {
  padding-bottom: 94px;
}

.activity__list {
  margin-top: 50px;
}

.activity__list__item {
  --margin-element:30px;
}

.activity__list__item .image {
  object-fit: cover;
  height: 294px;
  width: 370px;
}

.activity__list__item__description {  
  position: relative;
  top: -70px;
min-height: 70px;
width: 100%;
background: rgba(47, 48, 58, 0.8);
}

.activity__list__item .font-9 {  
  align-items: center;  
text-transform: uppercase;
color: var(--main-bg-cl);
}

/* block activity finish*/

/* block team start*/

.team {   
  display: block;   
  text-align: center; 
  background: var(--secondary-bg-cl);
}

.team__list {
  margin-top: 50px;
}

.team__list__item {
  margin-right: 30px;
  width: 270px;
  background: var(--main-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.team__list__item:last-child {
  margin-right: 0px;
  }

.team__list__item .image {
  object-fit: cover;
  height: 260px;
  width: 270px;
}
.team__list__item .social {
  font-size: 0px;
  line-height: 1;
}


.team__list__item__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__list__item__title {   
  margin-bottom: 10px;
}

.team__list__item__text {  
  margin-bottom: 16px; 
  color: #757575;  
}
.team__list__item__social .item:not(:last-child) {
  margin-right: 10px;
}

.team__list__item__social .svg {  
  fill:  #AFB1B8;
  width: 20px;
  height: 20px;   
  --animation-property: fill;  
}

.team__list__item__social .item {    
  box-sizing: border-box;
  width: 44px;
  height: 44px;   
  border-radius: 50%;
  --animation-property: background-color;  
}

.team__list__item__social .item:hover ,
.team__list__item__social .item:focus {   
  background-color: var(--secondary-txt-cl);  
}

.team__list__item__social .item:hover .svg,
.team__list__item__social .item:focus .svg{    
  fill:  #ffffff;
  
}

.team__list__item .social-link { 
  width: 100%;
  height: 100%; 
}

/* block team finish*/

/* block client start*/

.client__container__title {
  margin-bottom: 50px;
}

.client__list__item:not(:last-child) {
  margin-right: 30px;
  
}

.client__list__item { 
  width: 170px;
  height: 92px; 
  border: 1px solid #AFB1B8;  
box-sizing: border-box;
border-radius: 4px;
--animation-property: border;
  
}

.client__list__item:hover,
.client__list__item:focus{  
  border: 1px solid var(--secondary-txt-cl);  
}
.client__list__item .svg{ 
  fill:  #AFB1B8;
  width: 106px;
  height: 60px;  
  --animation-property: fill;
  }


.client__list__item:hover .svg,
.client__list__item:focus .svg{  
  fill:  var(--secondary-txt-cl);  
}


/* block client finish*/

/*  block Footer start*/


.footer {    
  background: var(--third-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
} 

.footer__container { 
  align-items: baseline
}

.footer__logo {  
  top: 24px;  
}

.footer .font-3 {    
  color: var(--secondary-txt-cl);
}

.footer__logo {   
  color: var(--main-bg-cl);
}

.footer__address { 
  color: var(--main-bg-cl);
  margin-top: 20px;
}

.footer__address__contact__list {
  margin-top: 9px;
  flex-direction: column;
  align-items: flex-start;
}

.footer__address__contact__item {    
  margin-bottom: 9px;
}

.footer__address__contact__item:last-child{
  margin-bottom: 0px;
}

.footer__address__contact__item .link {  
  color: rgba(255, 255, 255, 0.6); 
  --animation-property: color;
 }

.footer__address__contact__item .link:hover,
.footer__address__contact__item .link:active,
.footer__address__contact__item .link:focus { 
  color: var(--secondary-txt-cl);
}

.footer__social {
  margin-left: 70px;
}

.footer__social__title {
  color: #ffffff;
  margin-bottom: 20px;  
  text-transform: uppercase;
}

.footer__social__item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 50%;
  --animation-property: background-color;
 }

.footer__social__item:hover,
.footer__social__item:focus{ 
  background: #2196F3;
  }

.footer__social__item:not(:last-child) {
  margin-right: 10px;
}

.footer__social__item__link {
  width: 100%;
  height: 100%; 
}

.footer .svg {    
  fill: var(--main-bg-cl);
  position: relative;  
  width: 20px;
  height: 20px;  
  padding: 0;  
  }

  .footer__subscription {
    margin-left: auto;
  }

  .subscription__form {
    align-items: flex-end
  }

  .subscription__form__box__title{
    color: #ffffff;
  margin-bottom: 20px;  
  text-transform: uppercase;
  }

  .subscription__form__input {
    padding: 15px 16px;
    background-color: transparent;
    min-width: 358px;    
    min-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
  }

  .subscription__form__input:focus,
  .subscription__form__input:focus,
  .subscription__form__input:focus-visible {
    border: 1px solid #2196F3;
  }

  .subscription__form__input:focus-within {
    border-color: var(--secondary-txt-cl);
  } 

  .subscription__form__input::placeholder {
    font-size: 16px;
line-height: 1.25;
align-items: center;
letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .subscription__form__btn {    
    min-width: 200px;   
    min-height: 50px; 
    margin-left: 12px;
    align-items: center
  }
  
  .sibscription__form__svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

 /*  block Footer finish*/

/* block Modal start*/

.backdrop { 
  position: fixed;      
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.2);
  opacity:1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;  
}

.modal { 
  position: relative;  
  width: 528px;
  min-height: 250px;
  background-color: var(--main-bg-cl) ;
}

.modal__form {
  background-color: var(--main-bg-cl);
  padding: 40px;
}

.modal__form__label:focus-within ,
  .modal__form__label:focus-visible {
    border-color: var(--secondary-txt-cl); 
    fill: var(--secondary-txt-cl);   
  }  

.modal__form__title {  
color: var(--main-txt-cl);
}

.modal__button-close{  
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--main-bg-cl);
box-sizing: border-box;
border-radius: 50%;
}

.modal__button-close__icon {    
  fill: var(--black-cl);
  position: relative;  
  width: 10px;
  height: 10px;  
  padding: 0;  
  }

  .modal__form__label {
    display: block;
    position: relative;
    
  }

  .modal__form__label:not(:first-child) {
    margin-top: 10px;
  }

  .modal__form__input {   
    width: 100%;
    padding-top: 12px;
    padding-left: 42px;
    padding-right: 10px;
    padding-bottom: 12px;
    margin-top: 4px;
    font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
  }  

  .modal__form__message {
    width: 100%;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
resize: none;
  }

  .modal__form__message:focus-within,
  .modal__form__message:focus-visible {
    border: 1px solid var(--secondary-txt-cl);
  }

  .modal__form__message::placeholder {
font-weight: normal;
font-size: 12px;
line-height: 1.15;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
  }

.modal__form__icon {
  position: absolute;
  bottom: 20%;
  left: 12px;
}

.modal__form__agrement {
  width: 100%;
  align-items: baseline;
  margin-top: 20px;
     margin-bottom: 30px;
  
}

.modal__form__agrement__checkbox {
     width: 16px;
    height: 16px;
}

.modal__form__agrement__link { 
  color: var();
}

.modal__form__btn-send {   
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.modal__form__agrement__checkbox:checked + .modal__form__agrement__label .modal__form__agrement__checkbox-input__icon{
  fill: var(--secondary-txt-cl);
}

.modal__form__agrement__checkbox-input__icon {
  fill:var(--main-bg-cl);
  margin-right: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.test__label {
  color: blue;
  }

.test__checkbox:checked + label {
color: crimson;
}
/* block Modal finish*/

/* Portfolio Page */

.portfolio__memu__list {
margin-bottom: 50px;
}

.portfolio__memu__item {
  margin-right: 8px;
}

.portfolio__memu__item:last-child {
  margin-right: 0px;
}

.portfolio__memu__button-filter {
  display: block;  
  text-align: center;   
  padding-left: 22px; 
  padding-right: 22px; 
  padding-top: 6px; 
  padding-bottom: 6px;  
  color: var(--main-txt-cl);
  background-color: var(--secondary-bg-cl);  
  border-width: 0px;
  border-radius: var(--border-radius);
  --animation-property: background-color, color, box-shadow ;
}

.portfolio__memu__button-filter:hover,
.portfolio__memu__button-filter:focus,
.portfolio__memu__button-filter:active { 
  color: var(--main-bg-cl);
  background-color: var(--secondary-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio__repeater {   
  flex-direction: row;
  flex-wrap:wrap;        
}

.portfolio__repeater__item {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 370px;
  margin-right: 30px;  
  margin-bottom: 30px;  
}

.portfolio__image__box{
  
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.portfolio__repeater__item{ 
  background: var(--main-bg-cl);
  --animation-property: box-shadow;
 }

.portfolio__repeater__item__link:hover,
.portfolio__repeater__item__link:active {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__repeater__item:nth-child(3n+3) {  
  margin-right: 0px;    
}

.portfolio__repeater__item:nth-last-child(-n+3) {  
  margin-bottom: 0px;    
}

.portfolio__item__description {    
  position: absolute; 
  width: 100%;
  height: 294px;
  padding-left:  24px;  
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9); 
  --animation-property: transform;
 }

.portfolio__repeater__item__link:hover .portfolio__item__description,
.portfolio__repeater__item__link:active .portfolio__item__description{
  
  transform: translate(0%, -100%);
  
}


.text-description { 
  text-align: center;
  font-size: 18px;
line-height: 1.55;
color: var(--main-bg-cl);
}

.portfolio__repeater__item__part {
  
  padding: 20px 24px;  
  border-bottom: 2px solid #EEEEEE;
  border-left: 2px solid #EEEEEE;
  border-right: 2px solid #EEEEEE;
}

.portfolio__repeater__item .image {  
  width: 370px;
  height:  294px;  
}

.portfolio .font-12{  
  text-align: left;
  margin-bottom: 4px; 
text-decoration: none;
color: #212121;
}

.portfolio .text{  
text-decoration: none;
color: #757575;
}
