:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text color */
  --main-txt-cl: #212121;  
  --secondary-txt-cl: #2196f3;

  --title-txt-cl: #303030;
  --btn-txt-cl: #303030;

  /* colors */
  --accent-cl: #ff6c00;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #F5F4FA;
  --third-bg-cl:#2f303a;

  --black-cl: #000000;
  --grey-cl: #9da4bd;
  --grey-cl-alpha: rgba(157, 164, 189, 0.6);

  --linear-gradient: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );

  /* others */
  --border-radius: 4px;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  color: var(--main-txt-cl);
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.list {  
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;  
  list-style: none;
  padding-inline-start: 0;
}

.container {   
  width: 1200px;
  margin-left: auto;
  margin-right: auto;  
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  color: var(--main-txt-cl);
}

.link:hover,
.link:active,
.link:focus {  
  color: var(--secondary-txt-cl);
}

.btn {     
  text-align: center;    
  border-width: 0px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.image {
  display: block; 
  object-fit: cover;
}

/* Header block */
.header {  
padding-top: 24px;
padding-bottom: 25px;
background-color: var(--main-bg-cl);
  border-bottom: 1px solid #ececec;
}

.logo {    
  font-family: var(--secondary-font); 
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em; 
}

.second-logo {  
  font-weight: bold;
  color: var(--main-txt-cl);
}

.site-nav {   
  padding-left: 93px;
  font-weight: 500;  
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-align: left;
  vertical-align: top;
}

.site-nav-list-item {  
  margin-right: 50px;  
}

.site-nav-list-item:last-child {  
  margin-right: 0px;  
}

.first-logo {    
  color: var(--secondary-txt-cl);
}

.header-contact {
  margin-left: auto;
}

.header-contact-item {  
  margin-right: 50px;
  font-weight: 500;  
  line-height: 1.66;
  letter-spacing: 0.02em;  
}

.header-contact-item:last-child {  
  margin-left: 0px;   
}

/* Main block */

.main-index,
.main-portfolio {  
  background: #E5E5E5; 
}

.shapka {        
  background-color: var(--third-bg-cl);
}

.shapka-container {
  margin-top: 106px;
  margin-bottom: 106px;
}

.shapka .h1 { 
  text-align: center;
  margin-left: 240px;
  margin-right: 240px; 
  margin-top: 0; 
  margin-bottom: 0;
  font-weight: 900;  
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--main-bg-cl);
}

.shapka .btn {    
  display: block;   
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: 700; 
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-bg-cl);
  background-color: var(--secondary-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
}

.peculiarities-list-item {
  margin-right: 30px;
}

.peculiarities-list-item:last-child {
  margin-right: 0px;
}

.peculiarities-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.peculiarities-list-item .text {  
  margin: 0; 
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.activity-list-item {
  margin-right: 30px;
}

.activity-list-item:last-child {
  margin-right: 0px;
}

.activity-list-item .image {
  object-fit: cover;
  height: 294px;
  width: 370px;
}

.activity .h2 {  
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;  
}

.team {   
  display: block;  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center; 
  background: var(--secondary-bg-cl);
}

.team-list-item {
  margin-right: 30px;
  background: var(--main-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.team-list-item:last-child {
  margin-right: 0px;
  }

.team-list-item .image {
  object-fit: cover;
  height: 260px;
  width: 270px;
}

.team .h2 {  
  margin: 0;
  padding-top: 0px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;  
}

.team-title {  
  font-weight: 500;
  font-size: 16px;  
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .text {  
  font-weight: 400;
  font-size: 16px;  
  color: #757575;
  padding-bottom: 30px;
}

/* Footer block */


.footer {    
  background: var(--third-bg-cl);
} 

.footer-div {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {  
  top: 24px;
  font-family: var(--secondary-font);  
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;  
  font-weight: bold;
}

.first-logo-footer {    
  color: var(--secondary-txt-cl);
}

.second-logo-footer {  
  font-weight: bold;
  color: var(--main-bg-cl);
}

.address-footer {
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-bg-cl);
  margin-top: 20px;
}

.footer-contact-list {
  flex-direction: column;
  align-items: flex-start;
}

.footer-contact-item {  
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);  
  margin-top: 9px;
}

.footer-contact-item:hover,
.footer-contact-item:active,
.footer-contact-item:focus { 
  color: var(--secondary-txt-cl);
}

/* Portfolio Page */

.portfolio-memu-list {
margin-bottom: 50px;
}

.portfolio-memu-item {
  margin-right: 8px;
}

.portfolio-memu-item:last-child {
  margin-right: 0px;
}

.filter-button {
  display: block;  
  text-align: center;   
  padding-left: 22px; 
  padding-right: 22px; 
  padding-top: 6px; 
  padding-bottom: 6px;
  font-weight: 700; 
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-txt-cl);
  background-color: var(--secondary-bg-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-width: 0px;
  border-radius: var(--border-radius);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active { 
  color: var(--main-bg-cl);
  background-color: var(--secondary-txt-cl);
}

.portfolio-repeater {   
  flex-direction: row;
  flex-wrap:wrap;        
}

.portfolio-repeater-item { 
  background: var(--main-bg-cl);
box-sizing: border-box;
  margin-right: 30px;  
  margin-bottom: 30px;
}

.portfolio-repeater-item-part {
  border-top: 0px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  border-left: 2px solid #EEEEEE;
  border-right: 2px solid #EEEEEE;
}

.portfolio-repeater-item:nth-child(3n+3) {  
  margin-right: 0px;    
}

.portfolio-repeater-item:nth-last-child(-n+3) {  
  margin-bottom: 0px;    
}

.portfolio-repeater-item .image {  
  width: 370px;
  height:  294px;  
}

.portfolio-repeater-item-part {
  display: flow-root;
}

.portfolio .h3{
  margin: 0;
  margin-top: 20px;
  padding: 0px 24px;
  font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.portfolio .text{
  margin: 0;
  margin-top: 4px;
  padding: 0px 24px 20px 24px;
  font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
}
