@import "./utils/variables";
@import "./utils/mixins";

@import "./components/common";
@import "./components/header";
@import "./components/main";
@import "./components/shapka";
@import "./components/peculiarities";
@import "./components/activity";
@import "./components/team";
@import "./components/client";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio";
