/*  block Footer start*/


.footer {    
    background: var(--third-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
  } 
  
  .footer__container { 
    align-items: baseline
  }
  
  .footer__logo {  
    top: 24px;  
  }
  
  .footer .font-3 {    
    color: var(--secondary-txt-cl);
  }
  
  .footer__logo {   
    color: var(--main-bg-cl);
  }
  
  .footer__address { 
    color: var(--main-bg-cl);
    margin-top: 20px;
  }
  
  .footer__address__contact__list {
    margin-top: 9px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer__address__contact__item {    
    margin-bottom: 9px;
  }
  
  .footer__address__contact__item:last-child{
    margin-bottom: 0px;
  }
  
  .footer__address__contact__item .link {  
    color: rgba(255, 255, 255, 0.6); 
    --animation-property: color;
   }
  
  .footer__address__contact__item .link:hover,
  .footer__address__contact__item .link:active,
  .footer__address__contact__item .link:focus { 
    color: var(--secondary-txt-cl);
  }
  
  .footer__social {
    margin-left: 70px;
  }
  
  .footer__social__title {
    color: #ffffff;
    margin-bottom: 20px;  
    text-transform: uppercase;
  }
  
  .footer__social__item {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
    --animation-property: background-color;
   }
  
  .footer__social__item:hover,
  .footer__social__item:focus{ 
    background: #2196F3;
    }
  
  .footer__social__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer__social__item__link {
    width: 100%;
    height: 100%; 
  }
  
  .footer .svg {    
    fill: var(--main-bg-cl);
    position: relative;  
    width: 20px;
    height: 20px;  
    padding: 0;  
    }
  
    .footer__subscription {
      margin-left: auto;
    }
  
    .subscription__form {
      align-items: flex-end
    }
  
    .subscription__form__box__title{
      color: #ffffff;
    margin-bottom: 20px;  
    text-transform: uppercase;
    }
  
    .subscription__form__input {
      padding: 15px 16px;
      background-color: transparent;
      min-width: 358px;    
      min-height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: var(--main-bg-cl);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
    }
  
    .subscription__form__input:focus,
    .subscription__form__input:focus,
    .subscription__form__input:focus-visible {
      border: 1px solid #2196F3;
    }
  
    .subscription__form__input:focus-within {
      border-color: var(--secondary-txt-cl);
    } 
  
    .subscription__form__input::placeholder {
      font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  
    .subscription__form__btn {    
      min-width: 200px;   
      min-height: 50px; 
      margin-left: 12px;
      align-items: center
    }
    
    .sibscription__form__svg {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  
   /*  block Footer finish*/