/* Header block start */
.header {  
    background-color: var(--main-bg-cl);
      border-bottom: 1px solid #ececec;
      @include mq(mobile-only) {
        padding-top: 16px;
        padding-left: 15px;
        padding-right: 16px;
        padding-bottom: 10px;
       
      }
    }
    
    .header .font-3 {
      color: var(--secondary-txt-cl);
    }
    
    .header__logo {    
      color: var(--main-txt-cl);
    }
    
    .header__navigation {  
      display: none;          
      text-align: left;
      vertical-align: top;  
      --margin-element:50px; 
      @include mq(tablet) {
        margin-left: 88px;
        display: block;
      }
  
      @include mq(desktop) {
        margin-left: 93px;
       display: block;
      }
     
    }
    
    .current-page{
      position: relative;
    }
    
    .current-page::after {
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--secondary-txt-cl);
    }
    
    .header__navigation__list__item .link{
      display: inline-block;  
      padding-top: 32px;
      padding-bottom: 32px;  
      --animation-property: color 
    }
    
    .current-page{
      color: var(--secondary-txt-cl);
    }
    
    .header__contact {
      display: none;
      margin-left: auto;
      --margin-element:50px;

      @include mq(tablet) {
        margin-left: 88px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start
      }
  
      @include mq(desktop) {
        margin-left: 93px;
       display: flex;
       flex-wrap: nowrap;
      }
    }
    
    .header__contact__item .link{   
      color: var(--third-txt-cl);  
      --animation-property: color, fill  
      }
    
    .header__contact__item:hover .link,
    .header__contact__item:focus .link {  
      color: var(--secondary-txt-cl);
    }
    
    .header__contact__item .svg{  
      display: block; 
      fill: var(--third-txt-cl);   
      margin-right: 10px; 
    }
    
    .header__contact__item:hover .svg,
    .header__contact__item:focus .svg {  
      fill: var(--secondary-txt-cl);
    }
    /* Header block finish */