/* block peculiarities start*/

.peculiarities__container__list {
  --item:1;
  flex-wrap: wrap;
  @include mq(tablet) {
    --item:2;
    flex-wrap: wrap;
  }

  @include mq(desktop) {
    --item:4;
    flex-wrap: nowrap;    
  }
}

.peculiarities__container__item {    
    --margin-element:30px;    
  }
  
  .peculiarities__container__item .svg{  
    display: inline-block;
    width: 70px;
    height: 70px;    
     background-color: transparent;  
      
  }
  
  .peculiarities__container__item__box {
    padding: 25px;        
    background-color: var(--secondary-bg-cl);    
    width: 100%;
  }
  
  .peculiarities__container__item__title {
    margin-top: 30px;
    margin-bottom: 10px;  
    text-transform: uppercase;

    text-align: center;
  @include mq(tablet) {
    text-align: left;
  }

  @include mq(desktop) {
    text-align: left;   
  }
  }
  
  .peculiarities__container__item .font-8 {    
    color: var(--third-txt-cl);
  }
  
  /* block peculiarities finish*/